 {
	"jbuniversal.stok-list.teaser":  {
		"cell1":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout": "gallery",
				"width": "50",
				"height": "50",
				"link_to_item": "0",
				"zoom": "1",
				"lightbox": "0",
				"limit": "1",
				"autoplay": "0",
				"interval": "5000",
				"change": "0",
				"zoom_width": "400",
				"zoom_height": "400",
				"show_title": "0",
				"thumb_pos": "bottom",
				"show_begin_end": "0",
				"zoom_img_width": "400",
				"zoom_img_height": "400",
				"element": "d6c706ee-e6f5-427e-9043-fdaf8f5ed15e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"cell2":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "ae743244-63ef-49f0-9721-a230f004405a"
			}
		},
		"cell3":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "48dd6122-b0c6-49ba-a36d-068cc8bcd64c"
			}
		},
		"cell4":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"width": "18",
				"height": "18",
				"separated_by": "separator=[ ]",
				"element": "69d2a4e0-79cd-46d6-b350-bd20e0af1f1d"
			}
		},
		"cell5":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5100f68e-06ee-4bd3-937f-2ceadbe64134"
			}
		}
	},
	"jbuniversal.katalog-cihlid-stati.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "3fc67fbd-268a-4b99-9425-3bbc2471000e"
			}
		},
		"general":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c0fcdb9a-5332-48b4-89e3-d1e9b80344a7"
			}
		},
		"water":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "e38fb127-46f7-41f0-bc6c-79b3269d1b07"
			}
		},
		"food":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "ef4ad2f9-3caf-4e8e-84f0-218fa3dd0089"
			}
		},
		"mantainance":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d505708c-3fca-44fd-8d9a-8425b031e087"
			}
		},
		"breeding":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "63f5ec94-7cdc-4884-a0a2-59c274096fd9"
			}
		},
		"comment":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5bde3155-ed3d-4264-8349-995fabe3dbae"
			}
		}
	},
	"jbuniversal.katalog-cihlid-stati.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "c0fcdb9a-5332-48b4-89e3-d1e9b80344a7"
			}
		}
	}
}