 {
	"name": "\u0441\u0442\u043e\u043a-\u043b\u0438\u0441\u0442",
	"elements":  {
		"48dd6122-b0c6-49ba-a36d-068cc8bcd64c":  {
			"name": "\u0420\u0430\u0437\u043c\u0435\u0440",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"ae743244-63ef-49f0-9721-a230f004405a":  {
			"name": "\u041f\u043e\u043a\u043e\u043b\u0435\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "\u041d\u0435 \u0443\u043a\u0430\u0437\u0430\u043d\u043e",
					"value": "ne-ukazano"
				},
				"1":  {
					"name": "W",
					"value": "wild"
				},
				"2":  {
					"name": "F1",
					"value": "f1"
				},
				"3":  {
					"name": "F2",
					"value": "f2"
				}
			},
			"type": "radio"
		},
		"d6c706ee-e6f5-427e-9043-fdaf8f5ed15e":  {
			"name": "\u0424\u043e\u0442\u043e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"fancybox": "0",
			"type": "imagepro"
		},
		"69d2a4e0-79cd-46d6-b350-bd20e0af1f1d":  {
			"name": "\u041d\u0430\u043b\u0438\u0447\u0438\u0435",
			"description": "",
			"access": "1",
			"multiplicity": "0",
			"colors": "\u0435\u0441\u0442\u044c#99c768\r\n\u043e\u0436\u0438\u0434\u0430\u0435\u0442\u0441\u044f#f7f268\r\n\u043d\u0435\u0442#ff2929",
			"default_color": "",
			"path": "images\/jbcolor",
			"type": "jbcolor"
		},
		"5100f68e-06ee-4bd3-937f-2ceadbe64134":  {
			"name": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}